body{
  font-family:'Courier New', Courier, monospace;
  font-size:x-large;
  display: flex;
  justify-content: baseline;
  align-items: center;

  background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(73, 73, 73));
  color: white;

  height: 98vh;
}

.infoContainer{
  margin-left: -900px;
  animation: name-intro 1 1s forwards;
}

.email{
  margin-left: -900px;
  animation: name-intro 1 2s forwards;
}

@keyframes name-intro {
  from {
    margin-left: -900px;
  }
  to {
    margin-left: 100px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
